@import url('_css/_grid.css');
@import url('_css/_reset.css');
@import url('_css/_nav.css');
@import url('_css/_color.css');
@import url('_css/_flex.css');

.maingrid > article, footer  {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}



/* FONTS */  
@font-face {
    font-family: 'Gotham-Bold';  /* bold main title font */
    src: url('fonts/Gotham-Bold.otf') format('opentype');
  }

@font-face {
    font-family: 'GothamBook';      /* normal text font */
    src: url('fonts/GothamBook.ttf') format('opentype');
  }

@font-face {
    font-family: 'GothamLight';     /* normal secondary text font */ 
    src: url('fonts/GothamLight.ttf') format('opentype');
  }






  