@import url("css/_grid.css");
@import url("css/_reset.css");
@import url("css/_nav.css");
@import url("css/_color.css");
@import url("css/_fonts.css");
@import url("css/_article-sidebar.css");
@import url("css/_footer.css");
@import url("css/_article-albums.css");

.maingrid > .article-hyperlinks {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.begin {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.begin_Ycenter {     /* geen idee waarom ik dit maakte, lijkt overbodig */
  display: flex;
  justify-content: baseline;
  align-items: center;
}

body {
  background-color: var(--primary-colour);
}

.articles {
  background-color: var(--main-big-colour);
  color: var(--secondary-text-colour);
  border-radius: 8px;
}
