.library-icon {
  height: 24px;
  width: 24px;
  fill: var(--secondary-text-colour);
}

.plus-icon {
  height: 16px;
  width: 16px;
  fill: var(--secondary-text-colour);
}

.posrel {
  position: relative;
}

.plus-icon-div {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.library-button {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar1_text {
  padding-left: 12px;
}
