:root {
  --main-big-colour: #121212;
  --primary-colour: #000000; /* overbodig want het is gewoon "black" */
  --secondary-colour: #3be477;
  --secondary-text-colour: #b3b3b3;
  --side-colour: #1f1f1f;
  --hover-colour: #2a2a2a;
}