@font-face {
  font-family: "Bold";
  src: url("../fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2")
    format("woff2");
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2")
    format("woff2");
}

@font-face {
  font-family: "Bolder";
  src: url("../fonts/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2")
    format("woff2");
}

@font-face {
  font-family: "Extrabold";
  src: url("../fonts/SpotifyMixUITitle-Extrabold-ba6c73cd7f82c81e49cf2204017803ed.woff2")
    format("woff2");
}

@font-face {
  font-family: "Normal";
  src: url("../fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2")
    format("woff2");
}
